<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="del">
        <h1>DELETE</h1>
    </div>
    <div class="delete">
        <form action="/delete-form" method="post">
            <input id="id3" type="number" name="id" placeholder="ENTER ID"> <br>
            <br>
            <input id="button" type="submit" value="delete">
        </form>
    </div>
</body>
</html>