<!DOCTYPE html>
<html >
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rochester&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner">
        <img src="../static/images/banner.jpg" alt="">
    </div>
    <div class="block">
        <div class="admission">
            <img src="../static/images/admissions.jpg" alt="">
        </div>
        <div class="mt-block">
           <a href="/admission"><h1>MANAGE ADMISSION</h1></a>
            <img src="../static/images/college2.jpg" alt="">
        </div>
    </div>
    <div class="gallery">
        <div class="text">
            <h1>NRCM GALLERY</h1>
        </div>
        <div class="images">
            <img src="../static/images/play.jpg" alt="">
            <img src="../static/images/students.jpg" alt="">
            <img src="../static/images/dining.jpg" alt="">
            <img src="../static/images/seminar.jpg" alt="">
            <img src="../static/images/graduation.jpg" alt="">
    </div>
    <div class="volunteer">
        <div class="hr">
            <img src="../static/images/hr.jpg" alt="">
        </div>
        <div class="contact">
            <h1>CONTACT OUR VOLUNTEER</h1>
            <p>for any assistance or any difficulties
                in the process of admission,
                please feel free to reach out to our volunteer
            </p>
            <br>
            <p>She will take cre of your pickup and accomodation
                and also  shw will be the guide to you for the campus tour 
            </p>
            <br>
            <br>
            <div id="cont">
                <p>(+91) 1234567890 <br>
                    admission@gmail.com
                </p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="address">
            <h1>ADDRESS</h1>
            <p>MAISAMMAGUDA VILLAGE,
            KOMPALLY <br>
            SECUNDERABAD, <br>
            TELENGANA 500-100</p>
        </div>
        <div class="form">
            <form action="/query-form" method="post">
                <input id="name" type="name" name="name" placeholder="name"> <br>
                <input id="email" type="email" name="email" placeholder="email"> <br>
                <input  id=phone type="number" name="phone" placeholder="number"> <br>
                <select name="course" id="course">
                    <option value="select course">select course</option>
                    <option value="CSE">CSE</option>
                    <option value="ECE">ECE</option>
                    <option value="EEE">EEE</option>
                    <option value="IT">IT</option>
                </select>
                <br>
                <input type="submit" name="submit">
            </form>
        </div>
        <div class="contact1">
            <h1>CONTACT</h1>
            <p>
                phone:1234567890 <br>
                email:nrcm@gamil.com <br>
                website:www.nrcm.com
            </p>
        </div>
    </div>
    <div class="copy-right">
        <p>© Copyright 2024, All Rights Reserved</p>
    </div>
</body>
</html>