<!DOCTYPE html>
<html>
<head>
    <title>register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="form1">
        <h1>REGISTRATION FORM</h1>
    </div>
    <div class="register">
        <form action="/register-form" method="post">
            <input id="id" type="number" name="id" placeholder="ID"> <br>
            <input id="name" type="text" name="name" placeholder="name"> <br>
            <input id="phone" type="number" name="phone" placeholder="phone number"> <br>
            <input id="email" type="email" name="email" placeholder="email"> <br>
            <input id="rank" type="number" name="rank" placeholder="eamcet rank"> <br>
            <input id="percentage" type="number" name="percentage" placeholder="inter percentage"> <br>
            <input id="course" type="text" name="course" placeholder="course interested"> <br>
            <input id="address" type="text" name="address" placeholder="address"> <br>
            <br>
            <button>REGISTER</button>
        </form>
    </div>
</body>
</html>