<!DOCTYPE html>
<html lang="en">
<head>
    <title>update</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="update">
        <h1>UPDATE</h1>
    </div>
    <div class="update1">
        <form action="update-form" method="post">
            <input id="id1" type="number" name="id" placeholder="ID"> <br>
            <select id="field" name="field">
                <option value="option">OPTION</option>
                <option value="name">Name</option>
                <option value="email">Email</option>
                <option value="phone">Phone</option>
                <option value="percentage">Percentage</option>
                <option value="rank">Rank</option>
                <option value="course">Course</option>
                <option value="address">Address</option>
            </select> <br>
            <input id="value" type="text" name="new_value" placeholder="New Data"> <br>
            <br>
            <button>submit</button>
        </form>
    </div>
</body>
</html>